@import "tailwindcss";

@media (min-width: 800px) {
    .headerBigText {
        display: flex;
    }
    .headerSmallText {
        display: none;
    }
}

@media (max-width: 800px) {
    .headerSmallText {
        display: flex;
    }
    .headerBigText {
        display: none;
    }
}

.header{
    display: flex;
    position: fixed;
    justify-content: space-between;
    //padding: 0 20px 0 20px;
    align-items: center;
    background-color: #eeeeee;
    height: 80px;
}
.footer{
    display: flex;
    justify-content: space-between;
    //padding: 0 20px 0 20px;
    align-items: center;
    background-color: #999999;
    height: 50px;
}

.headerUnder {
    width: 100%;
    height: 80px;
}

.headerImg {
    height: 50px;
    width: 50px;
    margin: 15px;
}

.headerBigText {
}

.headerSmallText {
}

span h1 {
    margin: 0 5px 0 5px;
}

.mainDiv {
    height: 85vh;
    align-content: center;
    text-align:center;
}

.dashboardText {
    color: red;
    font-size: 2em;
    text-align: center;
    
}

.gamesSpan {
    display: flex;
    justify-content: center;
    align: center;
    gap: 5px;
}

.resetbtn {
    color: red;
}

.grid {
    display: flex;
    

}

.letter {
    height: 50px;
    width: 50px;
    border: dashed 1px;
    padding: 10px;
}

.numbers {
    margin: 0 5px;
}

.letterInput {
    background:#eeeeee;
    width: 2%;
    text-align: center;
}

