@import "tailwindcss";

@media (min-width: 799px) {
    .headerBigText {
        display: none;
    }
}

@media (max-width: 799px) {
    .headerSmallText {
        display: none;
    }
}

.header{
    display: flex;
    position: fixed;
    justify-content: space-between;
    //padding: 0 20px 0 20px;
    align-items: center;
    background-color: #eeeeee;
    height: 80px;
}

.headerUnder {
    width: 100%;
    height: 80px;
}

.headerImg {
    height: 50px;
    width: 50px;
    margin: 15px;
}

.headerBigText {
    display: flex
}

.headerSmallText {
    display: flex
}


