body, html { 
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.headerbar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #eeeeee;
  box-sizing: border-box;
  padding-right: 10px;
}